@use "../../scss/settings/mixins" as m;

.register {
  // background-color: palegoldenrod;
  min-height: calc(100vh - 100px);
  & .container {
    // background-color: palegreen;
    min-height: inherit;
    .register__form {
      // background-color: palevioletred;
      min-height: inherit;
      @include m.mediumScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .register__step {
        // background-color: paleturquoise;
        min-height: inherit;
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        @include m.mediumScreen {
          width: 620px;
        }
      }
    }
  }
}
