@use "../../scss/settings/colors" as c;
@use "../../scss/settings/fonts" as f;
@use "../../scss/settings/mixins" as m;

.register__step--second {
  height: 100%;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  @include m.mediumScreen {
    align-items: flex-start;
  }
  .inputs {
    border: 2px solid violet;
    width: 100%;
    max-width: 472px;
  }
}

.name__error,
.surname__error {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 170%;
  letter-spacing: 0.04em;
  padding-left: 5px;
  color: c.$colorAccent;
}

.dateofbirth__errors {
  .dateofbirth__error {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 170%;
    letter-spacing: 0.04em;
    padding-left: 5px;
    color: c.$colorTitlePrimary;
    &.error {
      color: c.$colorAccent;
    }
    &.correct {
      color: c.$colorInputCorrect;
    }
    &:nth-child(2) {
      padding-bottom: 26px;
      &.error {
        padding-bottom: 4px;
      }
    }
  }
}

.buttons {
  @include m.mediumScreen {
    display: flex;
    flex-direction: row-reverse;
  }
}
