$colorTextPrimary: rgba(0, 0, 0, 1);

$colorBackgroundPrimary: rgba(255, 255, 255, 1);

$colorTitlePrimary: rgba(52, 53, 65, 1); // Grey Tuna
$colorTitleSecondary: rgb(120, 120, 120);

$colorAccent: rgba(236, 17, 21, 1); // Cherry Red
$colorAccentHover: rgba(166, 12, 14, 1);
$colorAccentLight: rgba(244, 112, 115, 1); // Bittersweet

$colorShadow: rgba(52, 53, 65, 0.15);

$colorInputBackground: rgba(247, 247, 247, 1); // Athens Gray
$colorInputPlaceholder: rgba(133, 134, 141, 1); // Gray Jumbo
$colorInputCorrect: rgba(39, 174, 96, 1);
$colorInputActiveBorder: rgba(47, 128, 237, 1);
$colorInputActiveBg: rgba(47, 128, 237, 0.1);

$colorCheckboxText: rgba(41, 42, 51, 1); // Gray Charade
