@use "../../scss/settings/colors" as c;
@use "../../scss/settings/fonts" as f;
@use "../../scss/settings/mixins" as m;

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 327px;
  border-radius: 64px;
  background-color: c.$colorBackgroundPrimary;
  color: c.$colorAccent;
  font-family: f.$fontSecondary;
  font-size: 1.2rem;
  line-height: 100%;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  @include m.mediumScreen {
    width: 228px;
    margin-top: 16px;
  }
}

.anchor.homepage {
  background-color: c.$colorAccent;
  color: c.$colorBackgroundPrimary;
  &:hover {
    background-color: c.$colorAccentHover;
    border: 5px solid c.$colorAccentHover;
  }
  &:active {
    border: 5px solid c.$colorAccentLight;
  }
}
