@use "../../scss/settings/mixins" as m;

.header {
  height: 98px;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.mediumScreen {
      justify-content: space-between;
    }
  }
}
