// generic
@use "./scss/generic/reset";

@use "./scss/settings/fonts" as f;
@use "./scss/settings/colors" as c;

* {
  box-sizing: border-box;
}

body {
  font-family: f.$fontPrimary;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
